<div class="message cont-<%= message.user.id %>">

  <div class='avatar-md' style="background: #99ccff;color: white;" ><span style="margin-left: 15%; margin-right: 15%;font-size: 25px;margin-top: 10%;"><%= message.user.username.upcase[0..1]%></span></div>  
  <div class="text-main">
      <div class="text-group cont-<%= message.user.id %>">
        <div class="text cont-<%= message.user.id %>">
          <p><%= message.content %></p>
        </div>
      </div>
      <span>
      <span><%= message.user.username %> &nbsp &nbsp <%= message.created_at.strftime(" %b %d %Y %I:%M%p")%></span>
    </div>
</div>
