<%if @single_room %>
  <%= turbo_stream_from @single_room %>
  <div class="main col-7">
  	<div class="tab-content" id="nav-tabContent">
  		<!-- Start of Babble -->
  		<div class="babble tab-pane fade active show" id="list-chat" role="tabpanel" aria-labelledby="list-chat-list">
  			<!-- Start of Chat -->
  			<div class="chat" id="chat1">
        <!-- Start of top bar of messages --> 
          <%= render 'partials/messages_top' %>         
        <!-- End of top bar of messages -->          
  				
  				<div class="content" id="content">
  					<div class="container">
  						<div class="col-md-12" id="messages">
  							<div class="date">
  								<hr>
  								<span>Today</span>
  								<hr>
  							</div>
  							<%= render @messages%>
  						</div>
  					</div>
  				</div>
  				<div class="container">
  					<div class="col-md-12">
  						<div class="bottom">
                <%= form_with(model: [@single_room ,@message], remote: true, class: "d-flex position-relative w-100", id: 'message_send_form') do |f| %>
                  <%= f.text_area :content, id: 'chat-text', class: "form-control", autocomplete: 'off', placeholder: "Start typing for reply..." %>
  								<button class="btn emoticons"><i class="material-icons">insert_emoticon</i></button>

                  <%= f.button "", data: { disable_with: false }, class: "btn send" do %>
                    <i class="material-icons">send</i>
                  <% end %>
  							<% end %>
  							<label>
  								<input type="file">
  								<span class="btn attach d-sm-block d-none"><i class="material-icons">attach_file</i></span>
  							</label> 
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- End of Chat -->
  		</div>
  		<!-- End of Babble -->
  		<!-- Start of Babble -->
  		<div class="babble tab-pane fade" id="list-empty" role="tabpanel" aria-labelledby="list-empty-list">
  			<!-- Start of Chat -->
  			<div class="chat" id="chat2">
  				<div class="top">
  					<div class="container">
  						<div class="col-md-12">
  							<div class="inside">
  								<a href="#"><%= image_tag 'img/avatars/avatar-female-2.jpg', class: 'avatar-md', alt: 'avatar', data: { toggle: 'tooltip', placement: 'top' }, title: 'Lean' %></a>
  								<div class="status">
  									<i class="material-icons offline">fiber_manual_record</i>
  								</div>
  								<div class="data">
  									<h5><a href="#">Lean Avent</a></h5>
  									<span>Inactive</span>
  								</div>
  								<button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-30">phone_in_talk</i></button>
  								<button class="btn connect d-md-block d-none" name="2"><i class="material-icons md-36">videocam</i></button>
  								<button class="btn d-md-block d-none"><i class="material-icons md-30">info</i></button>
  								<div class="dropdown">
  									<button class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="material-icons md-30">more_vert</i></button>
  									<div class="dropdown-menu dropdown-menu-right">
  										<button class="dropdown-item connect" name="2"><i class="material-icons">phone_in_talk</i>Voice Call</button>
  										<button class="dropdown-item connect" name="2"><i class="material-icons">videocam</i>Video Call</button>
  										<hr>
  										<button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
  										<button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
  										<button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="content empty">
  					<div class="container">
  						<div class="col-md-12">
  							<div class="no-messages">
  								<i class="material-icons md-48">forum</i>
  								<p>Seems people are shy to start the chat. Break the ice send the first message.</p>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- End of Chat -->
  		</div>
  		<!-- End of Babble -->
  		<!-- Start of Babble -->
  		<div class="babble tab-pane fade" id="list-request" role="tabpanel" aria-labelledby="list-request-list">
  			<!-- Start of Chat -->
  			<div class="chat" id="chat3">
  				<div class="top">
  					<div class="container">
  						<div class="col-md-12">
  							<div class="inside">
  								<a href="#"><%= image_tag 'img/avatars/avatar-female-6.jpg', class: 'avatar-md', alt: 'avatar', data: { toggle: 'tooltip', placement: 'top' }, title: 'Louis' %></a>
  								<div class="status">
  									<i class="material-icons offline">fiber_manual_record</i>
  								</div>
  								<div class="data">
  									<h5><a href="#">Louis Martinez</a></h5>
  									<span>Inactive</span>
  								</div>
  								<button class="btn disabled d-md-block d-none" disabled><i class="material-icons md-30">phone_in_talk</i></button>
  								<button class="btn disabled d-md-block d-none" disabled><i class="material-icons md-36">videocam</i></button>
  								<button class="btn d-md-block disabled d-none" disabled><i class="material-icons md-30">info</i></button>
  								<div class="dropdown">
  									<button class="btn disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled><i class="material-icons md-30">more_vert</i></button>
  									<div class="dropdown-menu dropdown-menu-right">
  										<button class="dropdown-item"><i class="material-icons">phone_in_talk</i>Voice Call</button>
  										<button class="dropdown-item"><i class="material-icons">videocam</i>Video Call</button>
  										<hr>
  										<button class="dropdown-item"><i class="material-icons">clear</i>Clear History</button>
  										<button class="dropdown-item"><i class="material-icons">block</i>Block Contact</button>
  										<button class="dropdown-item"><i class="material-icons">delete</i>Delete Contact</button>
  									</div>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  				<div class="content empty">
  					<div class="container">
  						<div class="col-md-12">
  							<div class="no-messages request">
  								<a href="#"><%= image_tag 'img/avatars/avatar-female-6.jpg', class: 'avatar-xl', alt: 'avatar', data: { toggle: 'tooltip', placement: 'top' }, title: 'Louis' %></a>
  								<h5>Louis Martinez would like to add you as a contact. <span>Hi Keith, I'd like to add you as a contact.</span></h5>
  								<div class="options">
  									<button class="btn button"><i class="material-icons">check</i></button>
  									<button class="btn button"><i class="material-icons">close</i></button>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- End of Chat -->
  		</div>
  		<!-- End of Babble -->
  	</div>
  </div>
<%end%>
<script>
  $(document).on('turbo:submit-end', function() {
    $('#message_send_form')[0].reset();
  });
</script>